<div class="navbar">
  <a class="site-title" href="{{ site.url }}{{ site.baseurl }}/">{{ site.title }}</a>

  <ul class="pull-right">
    {% for x in site.navbar %}
      <li class="pull-left">
        
        <!-- External link -->
        {% if x.url and x.url contains '://' %}
          <a href="{{ x.url }}" target="_blank" rel="noopener">{{ x.name }}</a>

        <!-- Internal link -->
        {% elsif x.url %}
          <a href="{{ site.baseurl }}/{{ x.url | remove_first: '/' }}">{{ x.name }}</a>
        
          <!-- Legacy support for your old key -->
        {% elsif x.link %}
          <a href="{{ site.baseurl }}/{{ x.link | remove_first: '/' }}">{{ x.name }}</a>
         {% endif %}

        {% unless forloop.last %}/{% endunless %}
      </li>
    {% endfor %}
  </ul>

  <hr>
</div>
